* {
  box-sizing: border-box;
}

/* Colour palette */

:root {
  --yellow: #EFEF4D;
  --green: #39AA72;
  --bg-color: #E5E5E5;
}

/* Global styles */

body {
  margin: 0 auto;
  font-family: 'Bitter', serif;

}

.wrapper {
  max-width: 1150px;
  padding: 1em;
}

.header {
  background-color: var(--green);
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.strapline {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-end;
  color: var(--yellow)

}


/* search & form */
.search {
  display: grid;
  grid-template-columns: 1fr;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
}

.recipe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.picture {
  width: 100%;
}
