* {
  box-sizing: border-box;
}

body {}

/* search & form */
.search {
  display: grid;
  grid-template-columns: 1fr;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
}

.recipe {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.picture {
  width: 100%;
}
